/Crea una carpeta
/desktop.ini
/Eclipse IDE for Java Developers - 2024-09.lnk
/GitRepository-main
/GitRepository-main.zip
/Google Chrome.lnk
/index.html
/Microsoft Edge.lnk
/ud2_ex1_karina_izquierdo.rar
/ud2_ex2_karina_izquierdo.rar
/Visual Studio Code.lnk