
* {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body {
	margin: 20px;  
	width: 90vw;   /* Ancho viewport */
	height: 900px;
	border: 3px solid grey;
	padding: 20px;
	box-sizing: border-box;
}

h1 {
	background-color: #227C9D;
	color: white;
	padding: 30px 15px 0px 15px; 
	margin: 20px; 
	border: 5px dotted;
	border-inline-color: #FFCB77;
}

.nav-contenedor {
	background-color: #333;
	padding: 0px; 
    margin: 20px;
    text-align: center;

}


.nav {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav li{
	display: inline-block;
	text-decoration: none;
	background-color: #333;
}

nav a {
  display: inline-block;
	color: white;
	padding: 15px;
	width: 100px;
}

main {
	text-align: center;
	width: 100%;
}

article{
	display: inline-block;
	width: 30%;
    margin: 5px; 
    padding: 15px; 
    border: 2px solid black; 
    border-radius: 10px;
    

}
.article1 {
   background-color: #FFCB77;
  
}

.article2 {
    background-color: #17C3B2;
		
}
.article3 {
    background-color: #FE6D73;
		
		

}

footer {
	width: 98%;
	padding: 0px; 
    margin: 20px;
    text-align: center;
	background-color: #333;
	border: 5px #227C9D solid black;
	text-align: center;
}

footer>p {
	
	color: white;
	margin: 30px 30px 30px 10px;
	padding: 20px 20px 20px 40px;
	text-align: center;
}