
body {
	background-color: #D2E4C4;
	color:#004466;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
}

a:hover{
	color: #3c3c3c;
	cursor: pointer;
}

#sample { 
	color: black;
	font-weight: bold;
}

#backbone {
	color: black;
	font-weight: bold;
	font-style: italic;
}

#negrito {
	background-color: black;
	color:white;
}

h1 {
	color: #3c3c3c;
	font-family:Verdana;
	font-size:32px
}

h2{
	color: #9A275A;
	font-family:Verdana;
	font-size:24px;
}

h3{
	color: #9A275A;
	font-family:Verdana;
	font-size: 20px;
}

li {
	color: #D24B88;
}

footer {
	color: #3c3c3c;
	font-weight: bold;
}

